*{padding:0;margin:0;list-style:none;box-sizing:border-box;text-decoration: none;}
input{outline:none;cursor:pointer;}
img{height:80%;}
/*头部*/
    header{
    	width:100%;
    	height:70px;
    	background-color:black;
    	color:white;
    }
    header>ul{
    	float:left;
    	line-height:70px;
    	vertical-align:middle;
    	margin-left:20px;
    }
    header>ul>li{
    	display:inline-block;
    	margin-right:20px;
    	cursor:pointer;
    }
    /*logo*/
    header>ul>li>img{
    	height:40px;
    	vertical-align:middle;
    }
    /*新消息提示*/
    header>ul>li>sup{
    	float:right;
    	transform:translate(2px,-5px);}
    /*右侧功能区*/
    header>div{
    	float:right;
    	margin-right:20px;
    }
    header>div>form,
    header>div>a{
    	display:inline-block;
    	line-height:70px;
    	vertical-align:middle;
    	margin-left:30px;
    }
    header>div>a>img{
    	height:20px;
    	vertical-align:middle;
    }
    header>div>a:last-child>img{
    	height:40px;
    	border-radius:50%;
    }
    header>div>form{
    	width:200px;
    	height:30px;
    	border-bottom:1px solid rgba(255,255,255,0.5);
    	position:relative;
    	background:transparent;
    }
    /*搜索框*/
    header>div>form>input{
    	height:20px;
    	border:none;
    	color:#aaa;
    	position:absolute;
    	bottom:3px;
    }
    header>div>form>input:first-child{
    	width:100%;
    	padding:5px;
    	background:rgba(255,255,255,0.2);
    	cursor:text;
    }
    header>div>form>input:last-child{
    	right:0;
    	background:url(../IMG/research.png);
    	background-size:auto 80%;
    	background-repeat:no-repeat;
    	background-position:6px 2px;
    	color:transparent;
    }
/*主体*/
    main{
    	display:flex;
    	flex-wrap:wrap;
    	justify-content:center;
    	background:rgba(200,200,200,0.1);
    }
    main>.banner{
    	width:100%;
    	height:120px;
    	background-image:url(../IMG/banner-bg.jpg);
    	background-size:auto 100%;
    }
    /*结算页面*/
    section{
    	width:700px;
    	height:580px;
    	transform:translate(0,-100px);
    }
    section>h3{
    	height:40px;
    }
    #itemList{
    	width:700px;
    	height:480px;
    	border:1px solid #eee;
    	overflow:scroll;
    	background-color:white;
    }
    #itemList::-webkit-scrollbar{
        display:none;
    }
    #itemList>.itemList-table{
    	height:40px;
    	background-color:#eee;
    	position:sticky;
    	top:0;
    }
    #itemList>div{
    	height:110px;
    	border-top:1px solid #eee;
    	display:flex;
    	justify-content:space-around;
    	align-items:center;
    }
    /*商品描述*/
    #itemList>div>h6{
    	width:200px;
    	height:70%;
    	white-space:nowrap;
    	overflow:hidden;
    	text-overflow:ellipsis;
    }
    /*增减数量按钮*/
    #itemList>div>div>input[type="button"]{
    	width:15px;
    	height:15px;
    	border:1px solid #eee;
    	background:transparent;
    }
    #itemList>div>div>input[type="button"]:active{
        background:#eee;
    }
    #itemList>div>div>input[type="text"]{
    	width:35px;
    	height:25px;
    	border:1px solid #eee;
    	margin:0 5px;
    }
    /*全选列宽*/
    #itemList .itemList-table li:first-child{
    	width:95px;
    }
    /*商品名称列宽*/
    #itemList .itemList-table li:nth-child(2){
    	width:170px;
    }
    /*总价列宽*/
    #itemList .totalPrice{
        width:60px;
    }
    /*删除按钮*/
    #itemList>div>input:last-child{
    	width:50px;
    	height:30px;
    	border:none;
    	background:transparent;
    }
    #itemList>div>input:last-child:active{
        background:#eee;
    }
    /*应付*/
    section>div:last-child{
    	width:700px;
    	height:40px;
    	margin:10px 0;
    	border:1px solid #eee;
    	display:flex;
    	justify-content:flex-end;
    	align-items:center;
    	background-color:white;
    }
    /*金额显示颜色*/
    section>div:last-child>span:nth-child(2),
    section>div:last-child>span:nth-child(3){
        color:red;
    }
    /*去付款按钮*/
    section>div:last-child>input{
    	width:100px;
    	height:40px;
    	border:none;
    	background:red;
    	color:white;
    	font-size:1.1em;
    	margin-left:10px;
    }
    /*空购车提示*/
    em{
        margin-top:60px;
        color:#aaa;
        text-align:center;
        display:none;
    }
/*底部*/
    footer{
    	width:100%;
    	height:100px;
    	background:black;
    	color:#aaa;
    	text-align:center;
    	padding:20px 0;
    	line-height:30px;
    }
    footer>ul>li{
    	display:inline;
    	margin:10px;
    	cursor:pointer;
    }
    footer>span{
    	color:#666;
    	font-size:0.8em;
    }